/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/06/2017, 20:53:15
    Author     : gilmario
*/

.fundo-carrousel-label{
    background: rgba(100,100,100, 0.5);
    color: rgb(255,255,255);
    text-shadow: 2px 2px #000;
}

.deviceadapter{
    width: 660px;
    height: auto;
}